.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.idea/
.yalc/
yalc.lock
./build/
playwright-report/
.env/

# codecov binary
codecov

# Remove sitemap files (generated at build time)
sitemap*.xml

# typedoc
packages/*/typedoc/*

*storybook.log
storybook-static
.aider*

tsconfig.tsbuildinfo
.cursor