.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo
./packages/contracts-js/abis
.idea/
.yalc/
yalc.lock
build/
# we do not want to store the yarn lock for e2e tests (should always install fresh)
test/react/e2e/**/yarn.lock