@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* scroll-behavior: smooth; */
	font-feature-settings: "cv02", "cv03", "cv04", "cv11";
	font-feature-settings:
		"rlig" 1,
		"calt" 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-variation-settings: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

@layer base {
	:root,
	[data-theme="dark"] {
		/* 100 - lightest, 900 - darkest */

		/* neutral background colors */
		--b-900: hsl(240deg 6.67% 4%);
		--b-800: hsl(240deg 5% 6%);
		--b-700: hsl(240deg 5% 9%);
		--b-600: hsl(240deg 5% 12%);
		--code-bg: var(--b-800);

		--overlay: hsl(240deg 5% 5% / 0.5);
		--border: hsla(0, 0%, 14%, 1);

		/* neutral foreground colors */
		--f-100: rgba(241, 245, 249);
		--f-200: hsl(214.29deg 31.82% 85%);
		--f-300: rgb(156, 163, 175);

		/* others */
		--accent-500: hsl(217deg 91% 60%);
		--accent-600: hsl(221deg 83% 53%);
		--accent-900: hsl(221 53% 8%);
		--accent-800: hsl(221 53% 12%);
		--accent-700: hsl(221 53% 20%);

		--danger-500: hsl(0deg 84% 60%);
		--danger-900: hsl(0deg 41.67% 14.12%);
		--danger-800: hsl(0 36% 20% / 1);

		--warning-500: hsl(30.66deg 97.16% 40%);
		--warning-600: #f9a03f;
		--warning-800: hsl(30.73deg 50.62% 15%);
		--warning-900: hsl(30.73deg 50.62% 10%);

		--radius: 0.5rem;
		--sticky-top-height: 70px;
	}

	[data-theme="light"] {
		/* neutral background colors */
		--b-900: #f9fafb;
		--b-800: hsl(216deg 12.2% 96%);
		--b-700: hsl(222deg, 14%, 94%);
		--b-600: hsl(222deg, 14%, 90%);

		--overlay: hsl(222deg 5% 30% / 0.5);
		--border: hsl(216deg 12.2% 82%);
		--code-bg: white;

		/* neutral foreground colors */
		--f-100: hsla(222, 14%, 14%, 1);
		--f-200: hsl(215.29deg 25% 26.67%);
		--f-300: hsl(215.38deg 16.32% 46.86%);

		/* others */
		--accent-500: #2563eb;
		--accent-700: #bfdbfe;
		--accent-800: #dbeafe;
		--accent-900: #eff6ff;

		--danger-500: #ef4444;
		--danger-800: #fee2e2;
		--danger-900: #fef2f2;

		--warning-500: #f97316;
		--warning-800: #ffedd5;
		--warning-900: #fff7ed;
	}
}

code span {
	color: var(--code-dark-color);
}

body[data-theme="light"] code span {
	color: var(--code-light-color);
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-b-900 text-f-100;
	}
}

.styled-scrollbar::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

@media (max-width: 640px) {
	.styled-scrollbar::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

.styled-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	transition: color 200ms ease;
	background: var(--border);
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
	background: var(--f-200);
}

.styled-scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}

button {
	-webkit-tap-highlight-color: transparent;
}

::selection {
	background: var(--f-100);
	color: var(--b-900);
}

.hide-scrollbar {
	scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
