.scrollShadowY {
  position: absolute;
  left: 0;
  width: 100%;
  height: 32px;
  pointer-events: none;
}

.scrollShadowX {
  position: absolute;
  top: 0;
  width: 32px;
  height: 100%;
  pointer-events: none;
}

.scrollShadowTop {
  top: 0;
  background: linear-gradient(to bottom, var(--shadow), transparent);
  opacity: 0;
}

.scrollShadowBottom {
  bottom: 0;
  background: linear-gradient(to top, var(--shadow), transparent);
}

.scrollShadowLeft {
  left: 0;
  background: linear-gradient(to right, var(--shadow), transparent);
}

.scrollShadowRight {
  right: 0;
  background: linear-gradient(to left, var(--shadow), transparent);
}
