.steps [data-step]::before {
  content: counter(step);
  @apply bg-card border border-border rounded-full text-foreground text-sm w-8 h-8 inline-flex items-center justify-center absolute left-0;
}

.steps [data-step] {
  counter-increment: step;
}

.steps {
  counter-reset: step;
}
