.steps [data-step]::before {
  content: counter(step);
  @apply bg-inverted rounded-[50%] text-inverted-foreground text-base w-8 h-8 inline-flex items-center justify-center absolute left-0 font-semibold;
}

.steps [data-step] {
  counter-increment: step;
}

.steps {
  counter-reset: step;
}
