{
  "overrides": [
    {
      "files": "redirects.mjs",
      "options": {
        "printWidth": 200
      }
    }
  ],
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "tailwindFunctions": ["clsx", "cn"],
  "trailingComma": "all",
  "useTabs": true
}
