@keyframes slideGradient {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: -200% 50%;
  }
}

.animatedGradient {
  cursor: pointer;
  position: relative;
  display: inline-block; /* Use inline-block for better control */
  background: linear-gradient(88deg, #fff 0%, #fff 50%, #9786df 60%, #fff 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: slideGradient 4s linear infinite;
}

.animatedGradient:hover {
  background: none;
  color: #9786df;
}

.githubIcon {
  position: absolute;
  top: 4px;
  right: -24px;
}

.animatedGradient:hover > .githubIcon > g > path {
  fill: #9786df;
}

@media screen and (max-width: 1166px) {
  .githubIcon {
    top: -10px;
    right: -12px;
  }
}

@media screen and (max-width: 611px) {
  .githubIcon {
    top: -10px;
    right: -12px;
  }
}
@media screen and (max-width: 479px) {
  .githubIcon {
    width: 16px;
    height: 16px;
    top: -8px;
    right: -8px;
  }
}
