name: CI (Legacy Packages)

on:
  push:
    branches: ["main"]
    paths:
      - "legacy_packages/**"
      - "legacy_e2e/**"
      - "package.json"
  pull_request:
    types: [opened, synchronize]
    paths:
      - "legacy_packages/**"
      - "legacy_e2e/**"
      - "package.json"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

  # To use Remote Caching, uncomment the next lines and follow the steps below.
env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  TW_SECRET_KEY: ${{ secrets.TW_SECRET_KEY }}
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Packages
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Setup & Install
        uses: ./.github/composite-actions/install

      - name: Build Packages
        run: pnpm build:legacy_packages

  lint:
    timeout-minutes: 15
    name: Lint Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Setup & Install
        uses: ./.github/composite-actions/install

      - run: pnpm lint:legacy

  test:
    timeout-minutes: 15
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Setup & Install
        uses: ./.github/composite-actions/install

      - run: pnpm test:legacy

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          directory: legacy_packages/
          flags: legacy_packages
          verbose: true

  e2e:
    timeout-minutes: 15
    name: E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Setup & Install
        uses: ./.github/composite-actions/install

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Run e2e tests
        run: pnpm e2e:legacy
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
          CLI_E2E_API_KEY: ${{ secrets.CLI_E2E_API_KEY }}
