name: Integration tests

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install dependencies
        run: yarn
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: yarn e2e
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: playwright-report
          path: packages/react/playwright-report/
          retention-days: 30
