name: new CI

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]
  # trigger on merge group as well (merge queue)
  merge_group:
    types: [checks_requested]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  CI:
    name: CI
    timeout-minutes: 30
    runs-on: ubuntu-latest-16
    # To use Remote Caching, uncomment the next lines and follow the steps below.
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/composite-actions/install

        
      - name: Build
        run: yarn build

      - name: Unit tests
        run: yarn test

        # if we get here install playwright so we can run e2e
      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: E2E tests
        run: yarn e2e
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"

