# On the Version Packages branch
# Generate and Commit the Typedoc JSON files and the Snippets JSON files

name: Commit Release Artifacts

on:
  push:
    branches:
      - changeset-release/main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release-artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      # bun setup is required, because pnpm typdoc will run pnpm build and some packages uses bun for build
      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.0.21

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Build
        run: pnpm build

      - name: Generate Docs
        run: pnpm generate-docs

      - name: Generate Snippets
        run: pnpm generate-snippets

      - name: Typedoc
        run: pnpm typedoc

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Commit Release Artifacts [skip ci]"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
