# On the Version Packages branch
# Generate and Commit the Typedoc JSON files and the Snippets JSON files

name: Commit Release Artifacts

on:
  push:
    branches:
      - changeset-release/main
      - alpha

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # cancel any previous runs if they were started before this one
  cancel-in-progress: true

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  TW_SECRET_KEY: ${{ secrets.TW_SECRET_KEY }}

jobs:
  release-artifacts:
    timeout-minutes: 15
    runs-on: ubuntu-latest-16
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      # bun setup is required, because pnpm typdoc will run pnpm build and some packages uses bun for build
      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.0.21

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Build
        run: pnpm build

      - name: Typedoc
        run: pnpm typedoc

      - name: Generate Docs
        run: |
          cd packages/sdk
          pnpm generate-docs
          cd ../react-core
          pnpm generate-docs
          cd ../react
          pnpm generate-docs
          cd ../..

      - name: Generate Snippets
        run: pnpm generate-snippets

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git status
          git add packages/react/typedoc/documentation.json
          git add packages/react-core/typedoc/documentation.json
          git add packages/react-native/typedoc/documentation.json
          git add packages/sdk/typedoc/documentation.json
          git add packages/storage/typedoc/documentation.json
          git add packages/wallets/typedoc/documentation.json
          git add packages/thirdweb/typedoc/documentation.json
          git add snippets/feature_snippets_react.json
          git add snippets/feature_snippets_sdk.json
          git add snippets/snippets.json
          git commit -m "Commit Release Artifacts [skip ci]"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
