name: Compressed Size

on: [pull_request]

jobs:
  build:
    # try out buildjet to speed up build and test
    runs-on: buildjet-32vcpu-ubuntu-2204

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: preactjs/compressed-size-action@v2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          strip-hash: "\\b\\w{7}\\."
