name: TypeDoc

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "typedoc"
  cancel-in-progress: true

jobs:
  build:
    name: "Generate TypeDoc"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        
      - name: Install
        uses: ./.github/composite-actions/install

      - name: Run TypeDoc
        run: pnpm typedoc
